html, body, #root {
  width: 100%;
  height: 100%;
}

* {
  box-sizing: border-box;
}

body {
  margin: 0;
  overflow: hidden;
  font-family: 'Crimson Text', serif;
  background: #F2EDDC;
}

.page-container {
  height: 100vh;
  display: grid;
  grid-template: minmax(min-content, 100px) 1fr / 1fr;
  grid-template-areas:
    "header"
    "content"
}

header {
  grid-area: header;
}

main {
  grid-area: content;
}

p {
  margin: 0;
}

h1, h2, h3, h4, h5, h6 {
  margin: 0;
  font-family: 'Cinzel', serif;
}

input {
  font-family: 'Crimson Text', serif;
}

button {

}