:local(.text) {
  display: grid;
  grid-template: auto 1fr auto / auto min-content auto;
  grid-template-areas:
    ". . ."
    ". content ."
    ". . .";
  text-align: left;
  
  .content {
    background: white;
    text-overflow: hidden;
    padding: 50px;
    font-size: .7em;
    line-height: 1.4em;
    grid-area: content;
    font-family: 'Anonymous Pro', monospace;
    box-shadow: 1px 1px 28px #888888;
  }

  i {
    margin-right: 1em;
  }
}